<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ourdream.muslimdream">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Muslimdream">
        <activity
            android:name="com.ourdream.muslimdream.post.VerifiedAccountNotification"
            android:exported="true" />
        <activity
            android:name="com.ourdream.muslimdream.login.ForgetPassword"
            android:exported="true" />
        <activity
            android:name="com.ourdream.muslimdream.main.ShowSaveVideoPost"
            android:exported="true" />
        <activity
            android:name="com.ourdream.muslimdream.main.ShowMyAllPicturePost"
            android:exported="true" />
        <activity
            android:name="com.ourdream.muslimdream.main.ShowMyAllVideoPost"
            android:exported="true" />
        <activity
            android:name="com.ourdream.muslimdream.post.VideoPostCategoryActivity"
            android:exported="true" />
        <activity
            android:name="com.ourdream.muslimdream.main.VideoPlayActivity"
            android:exported="true" />

        <!--<meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8763788269561285~5366349819" />--> <!-- android:value="ca-app-pub-8763788269561285~9988895183" -->
        <activity
            android:name="com.ourdream.muslimdream.comment.video_comment_activity"
            android:exported="true" />
        <activity
            android:name="com.ourdream.muslimdream.comment.PostCommentActivity"
            android:exported="true" />
        <activity
            android:name="com.ourdream.muslimdream.post.AddPostVideoActivity"
            android:exported="true" />
        <activity
            android:name="com.ourdream.muslimdream.post.post_main_activity"
            android:exported="true" />
        <activity android:name="com.ourdream.muslimdream.main.NotificationActivity" />
        <activity android:name="com.ourdream.muslimdream.main.SearchActivity" />
        <activity android:name="com.ourdream.muslimdream.main.VideoSearchActivity" />
        <activity android:name="com.ourdream.muslimdream.splashScreen.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ourdream.muslimdream.login.Login" />
        <activity android:name="com.ourdream.muslimdream.login.SingUp" />
        <activity android:name="com.ourdream.muslimdream.main.MainActivity" />
        <activity android:name="com.ourdream.muslimdream.post.AddPostPhotoActivity" />
        <activity android:name="com.ourdream.muslimdream.setting.AccountSettingsActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>