<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.islam.muslimdream">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Muslimdream">
        <activity
            android:name=".post.VerifiedAccountNotification"
            android:exported="true" />
        <activity
            android:name=".login.ForgetPassword"
            android:exported="true" />
        <activity
            android:name=".main.ShowSaveVideoPost"
            android:exported="true" />
        <activity
            android:name=".main.ShowMyAllPicturePost"
            android:exported="true" />
        <activity
            android:name=".main.ShowMyAllVideoPost"
            android:exported="true" />
        <activity
            android:name=".post.VideoPostCategoryActivity"
            android:exported="true" />
        <activity
            android:name=".main.VideoPlayActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8763788269561285~5366349819" /> <!-- android:value="ca-app-pub-8763788269561285~9988895183" -->
        <activity
            android:name=".comment.video_comment_activity"
            android:exported="true" />
        <activity
            android:name=".comment.PostCommentActivity"
            android:exported="true" />
        <activity
            android:name=".post.AddPostVideoActivity"
            android:exported="true" />
        <activity
            android:name=".post.post_main_activity"
            android:exported="true" />
        <activity android:name=".main.NotificationActivity" />
        <activity android:name=".main.SearchActivity" />
        <activity android:name=".main.VideoSearchActivity" />
        <activity android:name=".splashScreen.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.Login" />
        <activity android:name=".login.SingUp" />
        <activity android:name=".main.MainActivity" />
        <activity android:name=".post.AddPostPhotoActivity" />
        <activity android:name=".setting.AccountSettingsActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>